{% extends 'core/base.html' %}
{% load static i18n paginate %}

{% block content %}

    <br>
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <form action="" method="GET" id="search-form">{% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-query" name="q" value="{{ q|default:'' }}" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search-button"><i class="glyphicon glyphicon-search"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>

            <div class="col-sm-6">
                <a href="{% url 'core:add-retailer' %}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add Retailer</a>
            </div>
        </div><!-- /.row -->

            <table class="table" id="retailer-table">
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th> Banner</th>
                        <th> Type <a href="{% url 'core:add-type' %}"><i class="glyphicon glyphicon-plus"></i></a> </th>
                        <th> Logo</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in context %}
                        <tr>
                            <td><a href="{% url 'core:retailers-store' data.slugify %}">{{ data.sChain }}</a></td>
                            <td> {{ data.sBanner_name }}</td>
                            <td> {{ data.sTypes.all|join:", " }} </td>
                            <td><img src="{{ data.logo_url }}" width="50"></td>
                            <td><a href="{% url 'core:edit-retailer' data.slugify %}" title="Click to Edit {{ data.sChain }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>


            {{ context|paginate_to:"10,True" }}
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (d) {
                d.preventDefault();
                location.href = "./?q="+$("#search-query").val();
            })
        });
    </script>
{% endblock %}