{% extends 'core/base.html' %}

{% load i18n paginate %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <form action="" method="GET" id="search-form">{% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-query" name="q" value="{{ q|default:'' }}" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search-button"><i class="glyphicon glyphicon-search"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>

            <div class="col-sm-6">
              <a href="{% url 'core:add-store' %}" class="btn btn-primary pull-right">
                  <i class="glyphicon glyphicon-plus"></i> Add Store</a>
            </div>
        </div><!-- /.row -->


        <table class="table">
            <thead>
                <tr>
                    <th>Store Name</th>
                    <th>Add One</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in context %}
                    <tr>
                        <td> <a href="{% url 'core:retailer-detail' data.slugify  %}">{{ data.sChain }}</a> </td>
                        <td> {{ data.sAddOne }}</td>
                        <td> {{ data.sCity }}</td>
                        <td> {{ data.sState }}</td>
                        <td> {{ data.sZip }}</td>
                        <td> {{ data.sPhoneOne }}</td>
                        <td> <a href="{% url 'core:edit-store' data.slugify %}" title="Click to Edit {{ data.sChain }}"><i class="glyphicon glyphicon-edit"></i> </a> </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        {{ context|paginate_to:"10,True" }}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (d) {
                d.preventDefault();
                location.href = "./?q="+$("#search-query").val();
            })
        });
    </script>
{% endblock %}