{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <div class="col-xs-12"><a href="{% url 'core:add-type' %}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add Type</a></div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name</th>
                </tr>
            </thead>
            <tbody>
                {% for data in context %}
                    <tr>
                        <td> <a href="{% url 'core:type-detail' data.slugify  %}">{{ data }}</a> </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        {% if context.has_other_pages %}
          <ul class="pagination">
            {% if context.has_previous %}
              <li><a href="?page={{ context.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in context.paginator.page_range %}
              {% if context.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if context.has_next %}
              <li><a href="?page={{ context.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>


{% endblock %}