{% extends 'product/base.html' %}
{% load static i18n paginate mathfilters %}

{% block content %}

    <br>
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <form action="" method="GET" id="search-form">{% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-query" name="q" value="{{ q|default:'' }}" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search-button"><i class="glyphicon glyphicon-search"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>

            <div class="col-sm-6">
                <a href="{% url 'product:brand-account-add' %}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add Brand Account</a>
            </div>
        </div><!-- /.row -->

            <table class="table" id="brand-table">
                <thead>
                    <tr>
                        <th>Upload ID</th>
                        <th>Brand</th>
                        <th>Contact</th>
                        <th>Title</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>File Name</th>
                        <th>Size</th>
                        <th>Reviewer</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Note</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in context %}
                        <tr>
                            <td>-</td>
                            <td>{{ data.brand.name }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.title }}</td>
                            <td><a href="mailto:{{ data.email }}">{{ data.email }}</a></td>
                            <td><a href="{{ data.website }}" target="_blank">{{ data.website }}</a></td>
                            <td style="max-width: 100px; overflow: hidden">{{ data.file.name|default:"-" }}</td>
                            <td>{{ data.file.size|default:"0"|intdiv:1024 }}kb</td>
                            <td>{{ data.reviewer|default:"-" }}</td>
                            <td>{{ data.status }}</td>
                            <td>{{ data.created }}</td>
                            <td>{{ data.note }}</td>
                            <td><a href="{{ data.file.url|default:"javascript:;" }}" download="{{ data.title|default:'' }}" target="_blank"><i class="glyphicon glyphicon-download"></i> </a></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>


            {{ context|paginate_to:"10,True" }}
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (d) {
                d.preventDefault();
                location.href = "./?q="+$("#search-query").val();
            })
        });
    </script>
{% endblock %}